<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <h1 class="text-center">Animales Exoticos</h1>
    <h2>Acuaticos</h2>
    <div class="row">
    <div class="card col" style="width: 18rem;">
  <img src="img/img de axlote.webp" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">ajolote</h5>
    <p class="card-text">Nombre científico: Ambystoma mexicanum.
Hábitat: Es originario de los lagos de Xochimilco, en la Ciudad de México.
Tipo de animal: Anfibio, aunque a diferencia de la mayoría, no pasa a vivir en tierra.
Tamaño: Mide entre 15 y 30 centímetros.
Color: Puede ser negro, marrón, blanco o rosado (como los ajolotes criados en cautiverio).
Respiración: Usa branquias externas y también puede respirar por la piel.
Alimentación: Es carnívoro; come lombrices, insectos, peces pequeños y otros organismos acuáticos.
Reproducción: Se reproduce poniendo huevos que la hembra pega en plantas o rocas.
Estado de conservación: Está en peligro crítico de extinción por la contaminación y pérdida de su hábitat.
Dato curioso: Puede regenerar no solo sus extremidades, sino también partes del cerebro y del corazón.</p>
  </div>
</div>

<div class="card col" style="width: 18rem;">
  <img src="img/img de cangrejo.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">cangrejo yeti</h5>
    <p class="card-text">El cangrejo yeti es una especie de crustáceo que vive en las profundidades del océano.
  Se caracteriza por tener pinzas cubiertas de pelos blancos o amarillentos que parecen pelaje, lo que le da su nombre.
  Habita cerca de fuentes hidrotermales y usa esos “pelos” para cultivar bacterias que le sirven de alimento.
  Fue descubierto en 2005 en el océano Pacífico y es un animal muy raro y adaptado a la oscuridad y altas temperaturas del fondo marino.</p>
  </div>
</div>

</div>

<div class="row">
<h2>terrestres</h2>
<div class="card col" style="width: 18rem;">
  <img src="img/imagen de zorro.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">zorro artico</h5>
    <p class="card-text">El zorro de las nieves, también llamado zorro ártico, es un mamífero que vive en las regiones frías del Ártico.
    Tiene un pelaje grueso y blanco en invierno, que le ayuda a camuflarse en la nieve, y cambia a color marrón o gris en verano.
    Es pequeño, de orejas cortas y patas cubiertas de pelo para soportar el frío extremo.
    Se alimenta de pequeños animales, aves y restos de comida dejados por otros depredadores.</p>
  </div>
</div>

<div class="card col" style="width: 18rem;">
  <img src="img/mono titi.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">mono titi</h5>
    <p class="card-text">El mono tití es un pequeño primate que vive en los bosques tropicales de Sudamérica.
    Tiene un cuerpo ágil, una larga cola y un pelaje suave que puede ser de color marrón, gris o anaranjado, según la especie.
    Es un animal muy sociable que vive en grupos familiares y se comunica con chillidos y silbidos.
    Se alimenta principalmente de frutas, insectos y néctar.</p>
  </div>
</div>
</div>
</div>

<div class="row">
<h1>aereos</h1>
<div class="card col" style="width: 18rem;">
  <img src="img/img de gucamaya roja.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">gucamaya roja</h5>
    <p class="card-text">La guacamaya roja es un ave tropical de colores brillantes, con plumas rojas, azules y amarillas.
    Vive en selvas húmedas de América Central y del Sur. Es muy inteligente, puede imitar sonidos y tiene un pico fuerte que usa para romper semillas y frutos.
    Forma pareja de por vida y suele volar en grupos ruidosos. Está en peligro por la pérdida de su hábitat y el tráfico ilegal.</p>
  </div>
</div>

<div class="card col" style="width: 18rem;">
  <img src="img/img de periquitos dorados.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">periquito dorado</h5>
    <p class="card-text">Los periquitos dorados son aves pequeñas y coloridas, de plumaje amarillo o verde brillante con tonos dorados.
    Son muy sociables, alegres y les gusta vivir en pareja o en grupos. Se comunican con chillidos suaves y son fáciles de domesticar.
    Se alimentan de semillas, frutas y verduras. Por su belleza y carácter amistoso, son populares como mascotas.</p>
  </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
