<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<h1 class="text-center">las 7 maravillas del mundo</h1>

<div class="row">
<div class="card col" style="width: 18rem;">
  <img src="img/img de la gran muralla china.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">gran muralla china</h5>
    <p class="card-text">La Gran Muralla China es una antigua estructura defensiva construida para proteger el territorio chino de invasiones y ataques.
    Se extiende a lo largo de miles de kilómetros, atravesando montañas, desiertos y valles.
    Fue construida con ladrillos, piedra y tierra compactada, y cuenta con torres de vigilancia y fortificaciones en varios puntos estratégicos.
    La Gran Muralla es un símbolo de la historia y la cultura china, y es considerada una de las maravillas arquitectónicas del mundo.</p>
  </div>
</div>

<div class="card col" style="width: 18rem;">
  <img src="img/img de petra.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">petra</h5>
    <p class="card-text">Petra es una antigua ciudad tallada en la roca ubicada en Jordania, famosa por su arquitectura impresionante y su historia fascinante.
    Fue la capital del reino nabateo y un importante centro comercial en la antigüedad.
    La ciudad está llena de templos, tumbas y edificios esculpidos directamente en las paredes de piedra rosa, lo que le da un aspecto único y espectacular.
    Petra es considerada una de las maravillas arqueológicas del mundo y es Patrimonio de la Humanidad por la UNESCO.</p>
  </div>
</div>

<div class="card col" style="width: 18rem;">
  <img src="img/img de el coliseo.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">coliseo</h5>
    <p class="card-text">El Coliseo, también conocido como el Anfiteatro Flavio, es un icónico monumento ubicado en Roma, Italia.
    Fue construido en el siglo I d.C. y es uno de los mayores anfiteatros jamás construidos en la historia.
    El Coliseo podía albergar a más de 50,000 espectadores y se utilizaba para eventos públicos como gladiadores, espectáculos de caza y representaciones teatrales.
    Es un símbolo de la ingeniería romana y una de las atracciones turísticas más populares del mundo.</p>
  </div>
</div>
</div>

<div class="row">
<div class="card col" style="width: 18rem;">
  <img src="img/img de machu picchu.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">machu picchu</h5>
    <p class="card-text">Machu Picchu es una antigua ciudad inca ubicada en las montañas de los Andes en Perú.
    Fue construida en el siglo XV y es famosa por su arquitectura impresionante, sus terrazas agrícolas y su ubicación espectacular en la cima de una montaña.
    Machu Picchu fue redescubierta en 1911 por el explorador estadounidense Hiram Bingham y desde entonces se ha convertido en uno de los destinos turísticos más populares del mundo.
    Es considerada una maravilla arqueológica y es Patrimonio de la Humanidad por la UNESCO.</p>
  </div>
</div>

<div class="card col" style="width: 18rem;">
  <img src="img/img de chichen itza.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">chichen itza</h5>
    <p class="card-text">Chichén Itzá es una antigua ciudad maya ubicada en la península de Yucatán, México.
    Fue un importante centro político, económico y religioso durante el período clásico y posclásico de la civilización maya.
    La ciudad cuenta con impresionantes estructuras arquitectónicas, como la pirámide de Kukulcán (El Castillo), el Templo de los Guerreros y el Observatorio.
    Chichén Itzá es considerada una de las maravillas arqueológicas del mundo y es Patrimonio de la Humanidad por la UNESCO.</p>
  </div>
</div>

<div class="card col" style="width: 18rem;">
  <img src="img/img de el taj mahal.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">taj mahal</h5>
    <p class="card-text">El Taj Mahal es un mausoleo ubicado en Agra, India, y es considerado una de las maravillas arquitectónicas del mundo.
    Fue construido en el siglo XVII por el emperador mogol Shah Jahan en memoria de su esposa favorita, Mumtaz Mahal.
    El Taj Mahal es famoso por su impresionante arquitectura de mármol blanco, sus intrincados detalles ornamentales y sus hermosos jardines.
    Es un símbolo del amor eterno y atrae a millones de visitantes cada año.</p>
  </div>
</div>

</div>

<div class="row">
<div class="card" style="width: 18rem;">
  <img src="img/img de la estatua de cristo redentor.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">cristo redentor</h5>
    <p class="card-text">El Cristo Redentor es una icónica estatua de Jesucristo ubicada en la cima del cerro del Corcovado en Río de Janeiro, Brasil.
    Fue inaugurada en 1931 y se ha convertido en un símbolo de la ciudad y del país.
    La estatua mide 30 metros de altura, con un pedestal de 8 metros, y sus brazos extendidos abarcan 28 metros.
    El Cristo Redentor es una de las Nuevas Siete Maravillas del Mundo y atrae a millones de visitantes cada año.</p>
  </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
